<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-right">
      <li class="active"><a href="/">Plan a new trip</a></li>
      <li ><a href=<%= trips_path %>>Trips</a></li>
      <li class="dropdown">
        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">View Network<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li><a tabindex="-1" href=<%= buses_path %>>Buses</a></li>
          <li><a tabindex="-1" href=<%= cities_path %>>Cities</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="ACPContainer">
<%= simple_form_for(@trip, html: { class: 'form-horizontal' }) do |f| %>
<% if @trip.errors.any? %>
	<div class="alert alert-error">
      <p><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</p>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<form class="form-horizontal">
	<div class="line">
		<div class="control-group">
			<%= f.label :number_of_passengers, class: 'control-label'	%>
			<div class="controls">
				<%= f.number_field :number_of_passengers, :min => 1 , :value => 1 %>
			</div>
		</div>
	</div>


	<div class="control-group">
		<%= f.label :leaving_from_id, class: 'control-label' %>
		<div class="controls">
			<%= f.collection_select :leaving_from_id, @cities, :id, :name %>
		</div>
	</div>

	<% if @trip.errors.has_key? :traveling_to %>
		<div class="control-group error">
	<%else	%>
		<div class="control-group">
	<% end %>
		<%= f.label :traveling_to_id, class: 'control-label' %>
		<div class="controls">
			<%= f.collection_select :traveling_to_id, @cities, :id, :name %>
		</div>
	</div> 

	<% if @trip.errors.has_key? :outbound_date %>
		<div class="control-group error">
	<%else	%>
		<div class="control-group">
	<% end %>
	  		<%= f.label :outbound_date, class: 'control-label' %>
			<div class="controls">
				<%= f.text_field :outbound_date %>	
			</div>
		</div>


	<% if @trip.errors.has_key? :return_date %>
		<div class="control-group error">
	<%else	%>
		<div class="control-group">
	<% end %>
			<%= f.label :return_date, class: 'control-label' %>
			<div class="controls">
				<%= f.text_field :return_date%>	
			</div>
		</div>



		<div class="form-actions">
			<%= f.submit class: 'btn'%>
		</div>
</form>

<% end %>

</div>
