<%@errors = false %>
<%= form_for(@trip, html: { class: 'form-horizontal' } ) do |f| %>
<% if @trip.errors.any? %>
	<%@errors = false%>
<% end %>

<form class="form-horizontal">
	<div class="line">
	<div class="control-group">
			<%= f.label :number_of_passengers, class: 'control-label'	%>
			<div class="controls">
			<%= f.number_field :number_of_passengers, :min => 1 , :value => 1 %>
			</div>
	</div>
</div>


	<div class="control-group">
			<%= f.label :leaving_from_id, class: 'control-label' %>
		<div class="controls">
			<%= f.collection_select :leaving_from_id, @cities, :id, :name %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :traveling_to_id, class: 'control-label' %>
		<div class="controls">
			<%= f.collection_select :traveling_to_id, @cities, :id, :name %>
		</div>
	</div> 

		<% if @errors %>
			<div class="control-group error">
			<%= f.label :outbound_date, class: 'control-label', for: 'inputError' %>
			<div class="controls">
				<%= f.text_field :outbound_date, id: 'inputError'%>	
				<span class="help-inline">Please correct the error</span>
			</div>

		<%else	%>
			<div class="control-group">
			<%= f.label :outbound_date, class: 'control-label' %>
			<div class="controls">
			 <%= f.text_field :outbound_date %>	
			</div>
		<% end %>
	</div>

	<div class="control-group">
		<%= f.label :return_date, class: 'control-label' %>
		<div class="controls">
	 		<%= f.text_field :return_date%>	
		</div>
	</div>

			

	<div class="form-actions">
		<%= f.submit class: 'btn'%>
	</div>
</form>

<% end %>

