<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-right">
      <li><a href="/">Plan a new trip</a></li>
      <li class="active"><a href=<%= trips_path %>>Trips</a></li>
      <li class="dropdown">
        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">View Network<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li class=""><a tabindex="-1" href=<%= buses_path %>>Buses</a></li>
          <li><a tabindex="-1" href=<%= cities_path %>>Cities</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="ACPContainer">


<table class="table table-striped">  
    <thead>      
    <tr>
        <th># pass.</th>
        <th>Leaving from</th>
        <th>Traveling to</th>
        <th>Outbound date</th>
        <th>Return date</th>
    </tr>
    </thead>      

    <tbody>  
        <% @trips.each do |trip| %>
          <tr>
            <td><%= trip.number_of_passengers %></td>
            <td><%= trip.leaving_from.name %></td>
            <td><%= trip.traveling_to.name%></td>
            <td><%= trip.outbound_date %></td>
            <td><%= trip.return_date %></td>
            <td><%= link_to 'Show', trip %></td>
            <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
            <td><%= link_to 'Delete', trip, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
    </tbody>  
</table>



</div>

