<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-right">
      <li ><a href="/">Plan a new trip</a></li>
      <li class="active"><a href=<%= trips_path %>>Trips</a></li>
      <li class="dropdown">
        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">View Network<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li><a tabindex="-1" href=<%= buses_path %>>Buses</a></li>
          <li><a tabindex="-1" href=<%= cities_path %>>Cities</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

</div>
<ul class="breadcrumb">
  <li><a href=<%= trips_path %>>Trips</a> <span class="divider">/</span></li>
  <li><a href=<%= trips_path %>>Trips Details</a> <span class="divider">/</span></li>
  <li class="active"><a href=<%= trip_buses_path%>>Possible Routes</a></li>
</ul>

  <div class="row-fluid">
    <div class="span2">
      <p>
          <label for="amount">Price range:</label>
          <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
      </p>
      <div id="slider-range"></div>
    </div>
    <div class="span10">

      
      <% if @routes.empty? %>
        <p> 
          Sorry, there are no routes from 
          <%= @trip.leaving_from.name %> to <%= @trip.traveling_to.name %>.
        <p>
      <% else %>
      <p>
  <b>Number of passengers:</b>
  <%= @trip.number_of_passengers %>
</p>

<p>
  <b>Leaving from:</b>
  <%= @trip.leaving_from.name %>
</p>

<p>
  <b>Traveling to:</b>
  <%= @trip.traveling_to.name %>
</p>

<p>
  <b>Outbound date:</b>
  <%= @trip.outbound_date %>
</p>

<p>
  <b>Return date:</b>
  <%= @trip.return_date %>
</p>

        <% i = 0%>
        <% @routes.each do |route| %>
        <div class="route" id=<%= i%> value=<%= route["price"]%> >
          <table class="table">  
            <thead>  
              <tr>
                <th>Price</th>
                <th>Leave time</th>
                <th>Arrival time</th>
                <th>Leaving From</th>
                <th>Arriving At</th>
              </thead>  
              
              <tbody>
                <% (route["info"]).each do |bus_leg| %>
                  <tr>         
                    <td><%= bus_leg["price"] %></td>
                    <td><%= bus_leg["leave_time"] %></td>
                    <td><%= bus_leg["arrival_time"] %></td>
                    <td><%= City.find_by_id(bus_leg["leaving_from_id"]).name %></td>
                    <td><%= City.find_by_id(bus_leg["traveling_to_id"]).name %></td>
                  </tr>
                <% end %>
                  <tr>
                    <td>Total:<%= route["price"] %></td> 
                    <td><%= %></td>
                  </tr>
              </tbody>  
          </table>
          </div>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>
</div>